body {
    background-color: rgba(37, 37, 37, 0.939);
}

#firstSection {
    height: 100vh;
    background-color: rgba(76, 32, 32, 0.891);
}

#secondSection {
    height: 100vh;    
    background-color: rgba(76, 32, 32, 0.891);
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 5 columns */
    grid-template-rows: repeat(2, 1fr); /* 5 rows */
}

#thirdSection {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.398);
}


#map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5%;
    height: 900px;
    width: 94vw;
    box-shadow: 2px 2px 64px 15px black;
    border-radius: 0%;
}

#mapsOpener {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

#addressHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 5%;
    padding-top: 4%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#addressHeader label {
    color: rgb(209, 209, 209);
    font-size: 22px;
    letter-spacing: 0.2em;
    text-align: center;
    font-weight: 700;
}

#addressHeader input {
    background-color: rgba(41, 41, 41, 0.918);
    color: rgb(223, 223, 223);
    padding: 1%;
    margin: 2em;
    width: 500px;
    border: 3px solid black;
    border-radius: 25px;
    font-size: 15px;
    letter-spacing: 0.2em;

}

#addressHeader button {
    color: rgba(236, 237, 237, 0.724);
    background-color: rgba(57, 127, 90, 0.931);
    border: 3px solid black;
    border-radius: 50px;
    font-weight: 700;
    padding: 1.1%;
    width: 300px;
    font-size: 12px;
    letter-spacing: 0.1em;
    cursor: pointer;

}

#addressHeader button:hover {
    background-color: rgba(57, 127, 90, 0.579);
}


.individualThumbnail {
    border-radius: 2%;
    box-shadow: 22px 22px 64px 2px black;
    border: 3px solid black;
}
